* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.color-box {
    width: 350px;
    height: 350px;
    background-color: red;
    border-radius: 10px;
}

.start-button {
    display: flex;
}

.start-button button {
    display: block;
    width: 100%;
    margin: 10px;
    cursor: pointer;
}


.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    flex-grow: 1;
    margin: 10px;
    cursor: pointer;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.3rem;
}
